numpy==2.4.4
tqdm==4.67.3
matplotlib==3.10.9
scikit-learn==1.8.0
torch==2.11.0
pytz==2026.1.post1
PyYAML==6.0.3
jsonschema==4.26.0
h5py==3.16.0
optuna==4.8.0
pandas==3.0.3
seaborn== 0.13.2
kaleido==1.3.0
